/* 의사(가상) 클래스 */
/* 요소가 특정 상태가 되었을 때 요소를 선택한다. */
/* 의사 클래스의 종류는 이외에도 매우 다양하다. */
.a:hover {
    /* 요소 바로 위에 마우스 커서가 올라왔을 때에만 작동 */
}
.a:active {
    /* 요소가 활성화 되었을 때만 작동 */
}
.a:focus {
    /* 요소가 포커스를 받을 때만 작동 */
    /* input을 위해 입력창을 클릭했을 때라던가 등 */
}
.a:disabled {
    /* 비활성 상태의 요소 */
    /* focus와 동일한 성격임 */
}
.a:nth-child() {
    /* 형제 사이에서의 순서에 따라 요소를 선택 */
    /* 동일한 요소중 ()내부의 순서의 요소만 선택 */
}

#input {
    position: relative;
}
#input:focus {
    color: orange;
}
#input:disabled {
    color: red;
}

/* 의사(가상) 요소 */
/* 선택 요소의 특정 부분에 대한 스타일을 정의할 수 있다. */

#vrclass::after {
    /* 요소 뒤의 의사 요소를 생성 추가 */

    content: "after 요소";
}
#vrclass::before {
    /* 요소 앞의 의사 요소를 생성 추가 */

    content: "before 요소";
}
#vrclass::first-line {
    /* 블록 레벨 요소의 첫번째 선에 스타일을 적용 */
    /* 화면에 나타나는 가장 첫번째 줄에만 스타일을 적용한다. */
}
#vrclass::first-letter {
    /* 가장 첫번째 글자만 적용 */
}
#vrclass::marker {
    /* 목록 기호의 스타일을 적용 */
    /* ol의 정렬 기호에만 스타일을 적용한다. */
}
#vrclass::placeholder {
    /* input 요소의 플레이스홀더에만 스타일 적용 */
}